body{
    margin: 0;
    min-width: 300px;
    max-width: 100%;
}
#header {
    background-color: #333;
    color: white;
    padding: 9px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#menu {
    float: left;
    width: 20%;
    height: 545px;
    background-color: #f1f1f1;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
#main{ 
    margin-left: 20%;
    height: 505px;
    padding: 20px;
}

.curso-card {
width: 200px;
height: 200px;
box-shadow: 5px 5px 20px #4b4b4b;
}
.curso-card:hover {
    width: 200px;
    height: 200px;
    background-color: #4b4b4b;
    box-shadow: 5px 5px 20px #9f9586;
}

.curso-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.embreve {
    display:flex;
    padding: 75px;
    justify-content:center;
    rotate: 0deg;
    cursor: pointer;
    overflow: hidden;
}

.embreve:hover {
    display:flex;
    padding: 75px;
    justify-content:center;
    rotate: -40deg;
    font-weight: 900;
    letter-spacing: 5px;
    transition: ease-in-out 0.5s;
}
#footer{
    background-color: #333;
    color: white;
    padding: 1px;
    text-align: center;
}