body{
    margin: 0;
    min-width: 300px;
    max-width: 100%;
}
#header {
    background-color: #333;
    color: white;
    padding: 9px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#menu {
    float: left;
    width: 20%;
    height: 545px;
    background-color: #f1f1f1;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
#main{ 
    margin-left: 20%;
    height: 505px;
    padding: 20px;
}

.organizacoes-card {
width: 900px;
height: 100px;
border: 1px solid #565555;
}
.organizacoes-cor {
width: 10px;
height: 102px;
background-color: #51099e;
}

.organizacoes-container {
    display: flex;
    justify-content: left;
    padding-bottom: 20px;
    cursor: pointer;

}
.codigo-organizacoes{
    font-weight:300;
    color: #5e5c5c;
    display:flex;
    margin-left: 20px;
    margin-top: 7px;
    justify-content:left;
}

.info{
    font-weight:300;
    color: #5e5c5c;
    display:flex;
    margin-left: 30px;
    margin-top: 15px;
    justify-content:left;
    text-decoration: underline;
}

.organizacoes {
    display:flex;
    margin-left: 20px;
    justify-content:left;
    font-weight: 700;
    overflow: hidden;
}

#footer{
    background-color: #333;
    color: white;
    padding: 1px;
    text-align: center;
}